*{
  box-sizing: border-box;
  transition: all 0.5s ease;
}

a{
  text-decoration: none;
  color: #000;
}



html{
  background: #A25930;
  background-image: url('../img/mirrored-squares.png');
  font-family: Junction;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  /*perspective: 1000px;*/
}

.panel{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
  background: rgba(255,225,200,0.25);
  background-image: url('../img/maze-white.png');
  background-clip: border-box;
  box-shadow: inset 0 -50px 200px 50px rgba(0,0,0,0.2);
  border: 10px solid rgba(0,0,0,0.3);
}

.panel p{
  padding: 0.5em 1em;
  font-size: 20px;
}

.panel img{
  width: 100%;
  box-shadow: 0 10px 10px -7px rgba(0,0,0,0.5);
}

#header ul{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
}

#header ul li{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33.333%;
  text-decoration: none;
}

#header ul li:nth-child(odd){
  background: rgba(255,255,255,0.5);
  box-shadow: 0 10px 10px -7px rgba(0,0,0,0.5);
}

#header .main-nav-link-ul{
  flex-direction: column;
  flex-wrap: wrap;
}

#header .main-nav-link-li{
  height: 5em;
  width: 100%;
  align-items: stretch;

}

#header .main-nav-link-li h4{
  margin: 0.3em;
}

#header .main-nav-link-li:nth-of-type(2){
  display: flex;
  order: -1;
  -webkit-order: -1;
  width: 100%;
  height:auto;
}




.panel ul li:not(#headshot-li):hover{
  background: rgba(255,255,255,0.5);
}

/*
.panel:nth-of-type(odd) {
  transform: perspective(1000px) Rotatex(3deg);
  -moz-transform: perspective(1000px) Rotatex(3deg);
  -webkit-transform: perspective(1000px) Rotatex(3deg);
  margin-bottom: 12px;

}


.panel:nth-of-type(even){
  transform: perspective(1000px) Rotatex(-3deg);
  -moz-transform: perspective(1000px) Rotatex(-3deg);
  -webkit-transform: perspective(1000px) Rotatex(-3deg);
  perspective-origin: center;
  margin-bottom: -20px;

}
*/

.divider{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
  background: rgba(255,225,200,0.3);
  background-image: url('../img/maze-white.png');
  background-clip: border-box;
  box-shadow: inset 0 -50px 200px 50px rgba(0,0,0,0.1);
  border: 5px solid rgba(0,0,0,0.3);


}

.project-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
}

.project-links li{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  width: 40%;
  background: rgba(255,255,255,0.15);
  box-shadow: 0 10px 10px -7px rgba(0,0,0,0.5);
}

h1{
  font-family: ModestoOpen-Shadow;
  text-shadow: 0px 0px 20px #666;
  text-align: center;
  font-size: 2em;
  margin: 0;
  line-height: 0.5em;
  padding: 0.5em;
}

#work{
  padding:5em;
  border: 0;
}
#work h1{
  margin: 0;
  padding: 0;
}

h2{
    font-size: 1em;
}

h2,h3{
  font-family: "League Spartan";
  font-weight: 900;
  margin: 0 auto;
  padding:  0.75em;
  text-align: center;
}

.contact{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: -350px;
  left: 0;
  background-color: rgba(200,200,200,0.7);
  background-image: url("../img/stressed-linen.png");
  border-top: 3px solid rgba(0,0,0,0.5);
  align-items: center;
  height: 350px;
  color: white;
  font-size: 1.2em;
}

.contact h3{
  position:absolute;
  margin: 0;
  padding: 5px 3px;
  background: rgba(255,255,255,0.7);
  border: 3px solid rgba(0,0,0,0.5);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  width: 200px;
  transform: translateY(-39px);
  color: black;
}

.contact form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
}

#contact-button{
  color: black;
}

.fa-linkedin-square{

  font-weight: bold;
  
}


@media (min-width: 1024px){

  .panel ul li:not(#headshot-li):hover{
    background: rgba(255,255,255,0.5);
  }

  /*--------------------------*/

  #header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    align-items: center;
    margin-bottom: 0;
  }

  #header ul li{
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    text-decoration: none;
  }

  #header ul li:nth-child(2n-1){
    width: 40%;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 10px 10px -7px rgba(0,0,0,0.5);
  }

  #header .main-nav-link-ul{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #header .main-nav-link-li{
    height: 6em;
    width: 10%;


  }

  #header .main-nav-link-li h4{
    margin: 0.3em;
  }

  #header .main-nav-link-li:nth-of-type(2){
    display: flex;
    order: 0;
    -webkit-order: 0;
    width: 40%;
    height:auto;
  }

  h1{
    font-family: ModestoOpen-Shadow;
    text-shadow: 0px 0px 20px #666;
    text-align: center;
    font-size: 8em;
    margin: 0;
    line-height: 0.5em;
    padding: 0.5em;
  }

  h2{
      font-size: 1.6em;
      padding-bottom: 0.3em;
  }

  h4{
    font-size: 1em;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
  }

  #header img{
    border: 7px solid rgba(255,255,255,0.15);
  }

  .panel p{
    padding: 0.5em 10em;
    font-size: 20px;
  }

}
